.vally-btn {
    margin: 0 auto;
    display: block;
    margin-top: 1.5rem;
    background-color: #e8f9fd;
    border: 1px solid #e8f9fd;
    color: #2155cd;
    font-size: calc(0.65rem + 0.4vw);
    text-transform: capitalize;
    padding: 3% 15%;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.vally-btn:hover {
    background-color: #2155cd;
    color: #fff;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.1);
}
